<!-- List Movie Banners -->
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row element-head-fav">
      <!-- Elements can be filled by Jquery loop based on the array count -->
    </div>
  </div>
</div>


<!-- Movie Details --> 
<div class="modal fade" id="fav-myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        
        <div class="modal-body">
            <center>
            <h3><span id="fav-media-heading"></span></h3>
            <hr>
            <img src="" id="fav-imagepreview" class="img-responsive col-md-8" ><br/>
            </center>
            <br/>
            <span><strong>Info: </strong></span>
                <span id="fav-director"></span>
                <br/>
                <span><strong>Main Star: </strong></span>
                <span id="fav-main"></span>
            <center>
            <p class="text-left" id="fav-intro"><br>
            <br>
            </center>
        </div>
        <div class="modal-footer">
            <center>
            </center>
        </div>
    </div>
</div>
</div>